* {
  text-align: center;
}

.broadway {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.link {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.process {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

.paragraph {
  font-family: Helvetica;
  font-size: 14px;
}

.foot {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
}

.footer {
  background-color: dimgray;
  text-align: center;
  display: inline;
  color: white;
  width: 100%
}

.border {
  background-image: url("/Users/keegankelly/broadway/css/the-flatiron-building.jpg");
  color: white;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  margin: 0px auto;
}

h4 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

#home {
  background-image: url("/Users/keegankelly/broadway/css/the-flatiron-building.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  margin: 0px auto;
}

a {
  color: white;
}
